#infi-list {
  width: 200px;
  height: 300px;
  overflow: auto; /* enables scroll INSIDE the list */
  margin: 30px auto;
  padding: 20px;
  border: 3px solid black;
}

li {
  padding: 10px;
  list-style-type: none;
}

li:hover {
  background: #ccc;
}
